/* Estilos para o corpo do documento */
body {
    
    font-family: Arial, sans-serif;
    background-color: #2d7b33;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilos para o contêiner de login */
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 100%; /* Largura do contêiner */
    max-width: 250px; /* Largura máxima do contêiner */
}

.login-container form input {
    width: 100%; /* Largura total */
    padding: 8px;
    border: 1px solid #d2a9a9;
    border-radius: 5px;
    box-sizing:border-box; /* Para incluir padding na largura total */
}

.login-container form button {
    width: 100%;
    padding: 10px;
    background-color: #096010;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container form button:hover {
    background-color: #096010;
}

/* Estilo para a seção de início */

.login-container form div {
    margin-bottom: 20px;
    color: #096010; /* Cor roxa */
}
/* Estilizando a label com ícone */
label {
    display: flex;
    align-items: center;
}

/* Estilizando o ícone */
label i {
    margin-right: 5px; /* Espaço entre o ícone e o texto */
}
/* Estilizando o h2 com a logomarca */
h2 {
    text-align: center;
    background-image: url(/images/favicon-96x96.png); /* Caminho da logomarca */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-size: contain; /* Garante que a imagem se ajuste ao tamanho do elemento sem distorcer */
    background-position: center; /* Centraliza a imagem horizontalmente */
    padding: 20px; /* Adiciona um espaçamento interno ao redor da logomarca */
    text-indent: -9999px; /* Move o texto para fora da área visível */
}
